<!DOCTYPE HTML>
<html>
    <head>
        <title>应用维度</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="/dujiangyan/thirdpart/jquery-easyui/themes/default/easyui.css" />
        <link rel="stylesheet" type="text/css" href="/dujiangyan/thirdpart/jquery-easyui/themes/icon.css" />

        <script type="text/javascript" src="/dujiangyan/js/jquery-1.8.0.js"></script>
        <script type="text/javascript" src="/dujiangyan/js/jquery.form.js"></script>
        <script type="text/javascript" src="/dujiangyan/js/jquery.cookie.min.js"></script>
        <script type="text/javascript" src="/dujiangyan/js/base/date-util.js"></script>
        <script type="text/javascript" src="/dujiangyan/js/base/string-util.js"></script>
        <script type="text/javascript" src="/dujiangyan/js/base/popups-util.js"></script>

        <script type="text/javascript" src="/dujiangyan/thirdpart/jquery-easyui/jquery.easyui.min.js"></script>
        <script type="text/javascript" src="/dujiangyan/thirdpart/jquery-easyui/locale/easyui-lang-zh_CN.js"></script>
        <script type="text/javascript" src="/dujiangyan/thirdpart/jquery-easyui/extension/datagrid-filter.js"></script>
        <script type="text/javascript" src="/dujiangyan/js/serve/application.js"></script>
    </head>
    <body>
        <div class="easyui-layout" fit="true">
            <div data-options="region:'west',title:'应用列表',split:true" style="width:220px;">
                <table id="appTable" method="post" url="/djy/serve/appList.do" style="width:100%;" fit="true" rownumbers="true" singleSelect="true">
                    <thead>
                        <tr>
                            <th halign="center"  field="name"  width="95%">应用名称</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div region="center">
                <div class="easyui-layout" fit="true">
                    <div id="appProvider" region="north" title="提供者" height="50%" >
                        <iframe id="appProviderIframe" frameborder="0" width="100%" height="98%">
                        </iframe>
                    </div>
                    <div id="appConsumer" region="center" title="消费者" split="true">
                        <iframe id="appConsumerIframe" frameborder="0" width="100%" height="98%">
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
