<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>投诉管理</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link rel="stylesheet" type="text/css" href="/shop/thirdpart/jquery-easyui/themes/default/easyui.css" />
    <link rel="stylesheet" type="text/css" href="/shop/thirdpart/jquery-easyui/themes/icon.css" />
    <link rel="stylesheet" type="text/css" href="/shop/css/style.css" />
    <style>
        #query_div{text-align: left;padding:5px 0px 5px 5px;}
        #tbComplain{width:100%;}
    </style>

    <script type="text/javascript" src="/shop/js/jquery-1.8.0.js"></script>
    <script type="text/javascript" src="/shop/js/jquery.form.js"></script>
    <script type="text/javascript" src="/shop/js/base/date-util.js"></script>
    <script type="text/javascript" src="/shop/js/base/string-util.js"></script>
    <script type="text/javascript" src="/shop/js/base/popups-util.js"></script>

    <script type="text/javascript" src="/shop/thirdpart/jquery-easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/shop/thirdpart/jquery-easyui/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="/shop/thirdpart/jquery-easyui/extension/datagrid-detailview.js"></script>

    <script type="text/javascript" src="/shop/js/app/aftersale/complain.js"></script>

</head>
<body>
<div id="toolbar">
    <div id="query_div">
        <span>投诉Id:
            <input id="id" name="id" type="text"/>
        </span>
        <span style="margin-left:5px;">来源:
            <select name="fromSource" id="fromSource" style="width:100px">
                <option selected="" value="-1">全部</option>
                <option value="1">PC</option>
                <option value="2">无线</option>
            </select>
        </span>
        <span style="margin-left:5px;">订单Id:
            <input id="orderId" name="orderId" type="text"/>
        </span>
        <div style="margin-bottom: 5px;"></div>
        <span>买家Id:
            <input id="userId" name="userId" type="text"/>
        </span>
        <span style="margin-left:5px;">买家名称:
            <input id="userName" name="userName" type="text"/>
        </span>
        <span style="margin-left:5px;">商店Id:
            <input id="shopId" name="shopId" type="text"/>
        </span>
        <span style="margin-left:5px;">商店名称:
            <input id="shopName" name="shopName" type="text"/>
        </span>
        <div style="margin-bottom: 5px;"></div>
        <span>申请时间:
            <input id="applyTimeBegin" name="applyTimeBegin" class="easyui-datebox" />至
            <input id="applyTimeEnd" name="applyTimeEnd" class="easyui-datebox" />
        </span>
        <span style="margin-left:5px;">状态:
            <select name="state" id="state" style="width:100px">
                <option selected="" value="-1">全部</option>
                <option value="0">待处理</option>
                <option value="1">投诉成立</option>
                <option value="2">投诉不成立</option>
                <option value="3">买家取消投诉</option>
            </select>
        </span>
        <span style="margin-left:5px;">投诉类型:
            <select name="type" id="type" style="width:100px">
                <option selected="" value="-1">全部</option>
                <option value="1">商家服务</option>
                <option value="2">商品质量</option>
                <option value="3">超时发货</option>
                <option value="4">其他</option>
            </select>
        </span>
        <span style="margin-left:5px;">投诉结果:
            <select name="result" id="result" style="width:100px">
                <option selected="" value="-1">全部</option>
                <option value="0">未处理</option>
                <option value="1">接受投诉</option>
                <option value="2">拒绝投诉</option>
            </select>
        </span>
        <input id="searchBtn" type="button" value="查询" onClick="search()" />
    </div>
</div>
<table id="tbComplain">
    <thead>
    <tr>
        <th data-options="field:'id',align:'left'">ID</th>
        <th data-options="field:'applyTime',align:'left'" >申请时间</th>
        <th data-options="field:'complainState',align:'left'">投诉状态</th>
        <th data-options="field:'complainType',align:'left'">投诉类型</th>
        <th data-options="field:'complainResult',align:'left'">投诉结果</th>
        <th data-options="field:'orderId',align:'left'" >订单Id</th>
        <th data-options="field:'fromSource',align:'left'" >来源</th>
        <th data-options="field:'orderAmount',align:'left'" >订单金额</th>
        <th data-options="field:'userId',align:'left'">买家id</th>
        <th data-options="field:'userName',align:'left'">买家名称</th>
        <th data-options="field:'shopId',align:'left'">商店id</th>
        <th data-options="field:'shopName',align:'left'">商店名称</th>
        <th data-options="field:'unagreeReason',align:'left'">投诉不成立原因</th>
        <th data-options="field:'lastedOperateTime',align:'left'">最后操作时间</th>
    </tr>
    </thead>
</table>

</body>
</html>