<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>店铺折扣</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link rel="stylesheet" type="text/css" href="/shop/thirdpart/jquery-easyui/themes/default/easyui.css" />
    <link rel="stylesheet" type="text/css" href="/shop/thirdpart/jquery-easyui/themes/icon.css" />
    <link rel="stylesheet" type="text/css" href="/shop/css/style.css" />
    <style>
        #query_div{text-align: left;padding:5px 0px 5px 5px;}
        #tbShopDiscount{width:100%;}
    </style>

    <script type="text/javascript" src="/shop/js/jquery-1.8.0.js"></script>
    <script type="text/javascript" src="/shop/js/jquery.form.js"></script>
    <script type="text/javascript" src="/shop/js/base/date-util.js"></script>
    <script type="text/javascript" src="/shop/js/base/string-util.js"></script>
    <script type="text/javascript" src="/shop/js/base/popups-util.js"></script>

    <script type="text/javascript" src="/shop/thirdpart/jquery-easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/shop/thirdpart/jquery-easyui/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="/shop/thirdpart/jquery-easyui/extension/datagrid-detailview.js"></script>

    <script type="text/javascript" src="/shop/js/app/shopDiscount.js"></script>

</head>
<body>
<div id="toolbar">
    <div id="query_div">
        <span>开始时间:
            <input id="beginTimeBegin" name="beginTimeBegin" class="easyui-datebox" />至
            <input id="beginTimeEnd" name="beginTimeEnd" class="easyui-datebox" />
        </span>
        <span style="margin-left:5px;">结束时间:
            <input id="endTimeBegin" name="endTimeBegin"class="easyui-datebox" />至
            <input id="endTimeEnd" name="endTimeEnd"class="easyui-datebox" />
        </span>
        <div style="margin-bottom: 5px;"></div>
        <span>商店Id:
            <input id="shopId" name="shopId" type="text"/>
        </span>
         <span  style="margin-left:5px;">折扣名称:
            <input id="discountName" name="discountName" type="text"/>
        </span>
        <span style="margin-left:5px;">促销状态:
            <select name="discountState" id="discountState" style="width:100px">
                <option selected="" value="-1">全部</option>
                <option value="0">正常</option>
                <option value="1">删除</option>
                <option value="2">终止</option>
            </select>
        </span>
        <span style="margin-left:5px;">折扣类型:
            <select name="discountType" id="discountType" style="width:100px">
                <option selected="" value="-1">全部</option>
                <option value="1">满额减额</option>
                <option value="2">满件打折</option>
                <option value="3">满件包邮</option>
                <option value="4">满额包邮</option>
            </select>
        </span>
        <span style="margin-left:5px;">折扣范围:
            <select name="discountRange" id="discountRange" style="width:100px">
                <option selected="" value="-1">全部</option>
                <option value="1">全店商品</option>
                <option value="2">指定商品</option>
            </select>
        </span>
        <div style="margin-bottom: 5px;"></div>
        <span>创建时间:
            <input id="createTimeBegin" name="createTimeBegin" class="easyui-datebox" />至
            <input id="createTimeEnd" name="createTimeEnd" class="easyui-datebox" />
        </span>
        <input id="searchBtn" type="button" value="查询" onClick="search()" />
    </div>
</div>
<table id="tbShopDiscount">
    <thead>
    <tr>
        <th data-options="field:'id',align:'left'">ID</th>
        <th data-options="field:'shopId',align:'left'" >商店Id</th>
        <th data-options="field:'discountName',align:'left'" >折扣名称</th>
        <th data-options="field:'beginTime',align:'left'">开始时间</th>
        <th data-options="field:'endTime',align:'left'">结束时间</th>
        <th data-options="field:'discountState',align:'left'">促销状态</th>
        <th data-options="field:'discountRange',align:'left'">折扣范围</th>
        <th data-options="field:'discountType',align:'left'">折扣类型</th>
        <th data-options="field:'discountRule',align:'left'">折扣规则</th>
        <th data-options="field:'createTime',align:'left'">创建时间</th>
        <th data-options="field:'updateTime',align:'left'">更新时间</th>
    </tr>
    </thead>
</table>

</body>
</html>