<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>权限标签</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link rel="stylesheet" type="text/css" href="/thirdpart/jquery-easyui/themes/default/easyui.css" />
    <style>
        #query_div{text-align: left;}
        #tbTag{width:100%;}
    </style>

    <script type="text/javascript" src="/js/jquery-1.8.0.js"></script>
    <script type="text/javascript" src="/js/base/date-util.js"></script>
    <script type="text/javascript" src="/js/base/string-util.js"></script>

    <script type="text/javascript" src="/thirdpart/jquery-easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/thirdpart/jquery-easyui/locale/easyui-lang-zh_CN.js"></script>

    <script type="text/javascript" >
        $(function () {

            $('#tbTag').datagrid({
                pageSize:20,
                rownumbers:true,
                fitColumns:true,
                collapsible:true,
                singleSelect:true,
                showFooter:true,
                pagination:true,
                toolbar:'#toolbar',
                method:'get',
                url:'/rbac/queryTagPage.do'
            });

        });

        function search() {
            var tag =$("#tag").val();
            var data ={name:tag};
            $('#tbTag').datagrid('reload',data);
        }
    </script>
</head>
<body>
<div id="toolbar">
    <div id="query_div">
        <span>标签:</span><input id="tag" name="tag" type="text"/> &nbsp;
        <input id="searchBtn" type="button" value="查询" onClick="search()" />
    </div>
</div>
<table id="tbTag">
    <thead>
        <tr>
            <th data-options="field:'tag',align:'left'" width="50%" >标签</th>
            <th data-options="field:'button',align:'center'" width="50%" >操作</th>
        </tr>

    </thead>
</table>
</body>
</html>