<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manage.stock.mapper.BourseDayMapper">
    
    <resultMap type="com.manage.stock.domain.BourseDay" id="BourseDayResult">
        <result property="id"    column="id"    />
        <result property="hignFlag"    column="hign_flag"    />
        <result property="bourseName"    column="bourse_name"    />
        <result property="bourseCode"    column="bourse_code"    />
        <result property="dayDate"    column="day_date"    />
        <result property="beginPoint"    column="begin_point"    />
        <result property="endPoint"    column="end_point"    />
        <result property="increaseRate"    column="increase_rate"    />
        <result property="note"    column="note"    />
        <result property="turnoverRate"    column="turnover_rate"    />
        <result property="turnoverAmount"    column="turnover_amount"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectBourseDayVo">
        select id, hign_flag, bourse_name, bourse_code, day_date, begin_point, end_point, increase_rate, note, turnover_rate, turnover_amount, create_time from t_bourse_day
    </sql>

    <select id="selectBourseDayList" parameterType="com.manage.stock.domain.BourseDay" resultMap="BourseDayResult">
        <include refid="selectBourseDayVo"/>
        <where>  
            <if test="hignFlag != null "> and hign_flag = #{hignFlag}</if>
            <if test="bourseName != null  and bourseName != ''"> and bourse_name like concat('%', #{bourseName}, '%')</if>
            <if test="bourseCode != null  and bourseCode != ''"> and bourse_code = #{bourseCode}</if>
            <if test="dayDate != null "> and day_date = #{dayDate}</if>
            <if test="beginPoint != null "> and begin_point = #{beginPoint}</if>
            <if test="endPoint != null "> and end_point = #{endPoint}</if>
            <if test="increaseRate != null  and increaseRate != ''"> and increase_rate = #{increaseRate}</if>
            <if test="note != null  and note != ''"> and note = #{note}</if>
            <if test="turnoverRate != null  and turnoverRate != ''"> and turnover_rate = #{turnoverRate}</if>
            <if test="turnoverAmount != null "> and turnover_amount = #{turnoverAmount}</if>
        </where>
    </select>
    
    <select id="selectBourseDayById" parameterType="Long" resultMap="BourseDayResult">
        <include refid="selectBourseDayVo"/>
        where id = #{id}
    </select>

    <insert id="insertBourseDay" parameterType="com.manage.stock.domain.BourseDay" useGeneratedKeys="true" keyProperty="id">
        insert into t_bourse_day
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="hignFlag != null">hign_flag,</if>
            <if test="bourseName != null">bourse_name,</if>
            <if test="bourseCode != null">bourse_code,</if>
            <if test="dayDate != null">day_date,</if>
            <if test="beginPoint != null">begin_point,</if>
            <if test="endPoint != null">end_point,</if>
            <if test="increaseRate != null">increase_rate,</if>
            <if test="note != null">note,</if>
            <if test="turnoverRate != null">turnover_rate,</if>
            <if test="turnoverAmount != null">turnover_amount,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="hignFlag != null">#{hignFlag},</if>
            <if test="bourseName != null">#{bourseName},</if>
            <if test="bourseCode != null">#{bourseCode},</if>
            <if test="dayDate != null">#{dayDate},</if>
            <if test="beginPoint != null">#{beginPoint},</if>
            <if test="endPoint != null">#{endPoint},</if>
            <if test="increaseRate != null">#{increaseRate},</if>
            <if test="note != null">#{note},</if>
            <if test="turnoverRate != null">#{turnoverRate},</if>
            <if test="turnoverAmount != null">#{turnoverAmount},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateBourseDay" parameterType="com.manage.stock.domain.BourseDay">
        update t_bourse_day
        <trim prefix="SET" suffixOverrides=",">
            <if test="hignFlag != null">hign_flag = #{hignFlag},</if>
            <if test="bourseName != null">bourse_name = #{bourseName},</if>
            <if test="bourseCode != null">bourse_code = #{bourseCode},</if>
            <if test="dayDate != null">day_date = #{dayDate},</if>
            <if test="beginPoint != null">begin_point = #{beginPoint},</if>
            <if test="endPoint != null">end_point = #{endPoint},</if>
            <if test="increaseRate != null">increase_rate = #{increaseRate},</if>
            <if test="note != null">note = #{note},</if>
            <if test="turnoverRate != null">turnover_rate = #{turnoverRate},</if>
            <if test="turnoverAmount != null">turnover_amount = #{turnoverAmount},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBourseDayById" parameterType="Long">
        delete from t_bourse_day where id = #{id}
    </delete>

    <delete id="deleteBourseDayByIds" parameterType="String">
        delete from t_bourse_day where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>