<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manage.stock.mapper.StockYearMapper">
    
    <resultMap type="com.manage.stock.domain.StockYear" id="StockYearResult">
        <result property="id"    column="id"    />
        <result property="stockName"    column="stock_name"    />
        <result property="stockCode"    column="stock_code"    />
        <result property="statYear"    column="stat_year"    />
        <result property="highlight"    column="highlight"    />
        <result property="minPrice"    column="min_price"    />
        <result property="maxPrice"    column="max_price"    />
        <result property="beginPrice"    column="begin_price"    />
        <result property="endPrice"    column="end_price"    />
        <result property="increaseRate"    column="increase_rate"    />
        <result property="marketValue"    column="market_value"    />
        <result property="pe"    column="pe"    />
        <result property="pb"    column="pb"    />
        <result property="gmv"    column="gmv"    />
        <result property="profit"    column="profit"    />
		<result property="dividend"    column="dividend"    />
        <result property="note"    column="note"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="stockYearFieldWithPrefix">
        ${tableName}.id,
        ${tableName}.stock_name,
        ${tableName}.stock_code,
        ${tableName}.stat_year,
        ${tableName}.highlight,
        ${tableName}.min_price,
        ${tableName}.max_price,
        ${tableName}.begin_price,
        ${tableName}.end_price,
        ${tableName}.increase_rate,
        ${tableName}.market_value,
        ${tableName}.pe,
        ${tableName}.pb,
        ${tableName}.gmv,
        ${tableName}.profit,
        ${tableName}.dividend,
        ${tableName}.note,
        ${tableName}.create_time,
        ${tableName}.update_time
    </sql>

    <select id="selectStockYearList" parameterType="com.manage.stock.domain.dto.StockQueryParam" resultMap="StockYearResult">
        select
        <include refid="stockYearFieldWithPrefix">
            <property name="tableName" value="y"/>
        </include>
        from t_stock_year y
        <if test="industry != null and industry != '' ">
            join t_company_stock c on y.stock_code = c.stock_code
        </if>
        <where>  
            <if test="stockName != null  and stockName != ''"> and y.stock_name like concat('%', #{stockName}, '%')</if>
            <if test="stockCode != null  and stockCode != ''"> and y.stock_code = #{stockCode}</if>
            <if test="year != null "> and y.stat_year = #{year}</if>
            <if test="industry != null and industry != '' ">
                and c.industry = #{industry}
            </if>
        </where>
    </select>
    
    <select id="selectStockYearById" parameterType="Long" resultMap="StockYearResult">
        select
        <include refid="stockYearFieldWithPrefix">
            <property name="tableName" value="y"/>
        </include>
        from t_stock_year y
        where y.id = #{id}
    </select>

    <insert id="insertStockYear" parameterType="com.manage.stock.domain.StockYear" useGeneratedKeys="true" keyProperty="id">
        insert into t_stock_year
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="stockName != null">stock_name,</if>
            <if test="stockCode != null">stock_code,</if>
            <if test="statYear != null">stat_year,</if>
            <if test="highlight != null">highlight,</if>
            <if test="minPrice != null">min_price,</if>
            <if test="maxPrice != null">max_price,</if>
            <if test="beginPrice != null">begin_price,</if>
            <if test="endPrice != null">end_price,</if>
            <if test="increaseRate != null">increase_rate,</if>
            <if test="marketValue != null">market_value,</if>
            <if test="pe != null">pe,</if>
            <if test="pb != null">pb,</if>
            <if test="gmv != null">gmv,</if>
            <if test="profit != null">profit,</if>
			<if test="dividend != null">dividend,</if>
            <if test="note != null">note,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="stockName != null">#{stockName},</if>
            <if test="stockCode != null">#{stockCode},</if>
            <if test="statYear != null">#{statYear},</if>
            <if test="highlight != null">#{highlight},</if>
            <if test="minPrice != null">#{minPrice},</if>
            <if test="maxPrice != null">#{maxPrice},</if>
            <if test="beginPrice != null">#{beginPrice},</if>
            <if test="endPrice != null">#{endPrice},</if>
            <if test="increaseRate != null">#{increaseRate},</if>
            <if test="marketValue != null">#{marketValue},</if>
            <if test="pe != null">#{pe},</if>
            <if test="pb != null">#{pb},</if>
            <if test="gmv != null">#{gmv},</if>
            <if test="profit != null">#{profit},</if>
			<if test="dividend != null">#{dividend},</if>
            <if test="note != null">#{note},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateStockYear" parameterType="com.manage.stock.domain.StockYear">
        update t_stock_year
        <trim prefix="SET" suffixOverrides=",">
            <if test="stockName != null">stock_name = #{stockName},</if>
            <if test="stockCode != null">stock_code = #{stockCode},</if>
            <if test="statYear != null">stat_year = #{statYear},</if>
            <if test="highlight != null">highlight = #{highlight},</if>
            <if test="minPrice != null">min_price = #{minPrice},</if>
            <if test="maxPrice != null">max_price = #{maxPrice},</if>
            <if test="beginPrice != null">begin_price = #{beginPrice},</if>
            <if test="endPrice != null">end_price = #{endPrice},</if>
            <if test="increaseRate != null">increase_rate = #{increaseRate},</if>
            <if test="marketValue != null">market_value = #{marketValue},</if>
            <if test="pe != null">pe = #{pe},</if>
            <if test="pb != null">pb = #{pb},</if>
            <if test="gmv != null">gmv = #{gmv},</if>
            <if test="profit != null">profit = #{profit},</if>
			<if test="dividend != null">dividend = #{dividend},</if>
            <if test="note != null">note = #{note},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteStockYearById" parameterType="Long">
        delete from t_stock_year where id = #{id}
    </delete>

    <delete id="deleteStockYearByIds" parameterType="String">
        delete from t_stock_year where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>