#mysql5.5版本之前，不包括5.5
[client]
port=3306
default-character-set=utf8
[mysqld]
port=3306
default-character-set=utf8
max_connections=500
thread_concurrency=16
default-storage-engine=InnoDB
log-bin=mysql-bin
slow_query_log
long_query_time=2
log-queries-not-using-indexes=true
log-slow-queries="d:/logs/slow_query.log"
server-id=1
# basedir = .....
# datadir = .....
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES 
[mysqldump]
quick
max_allowed_packet = 16M