<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>应用管理</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link rel="stylesheet" type="text/css" href="/thirdpart/jquery-easyui/themes/default/easyui.css" />
    <link rel="stylesheet" type="text/css" href="/thirdpart/jquery-easyui/themes/icon.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <style>
        #query_div{text-align: left;}
        #tbApp{width:100%;}
    </style>

    <script type="text/javascript" src="/js/jquery-1.8.0.js"></script>
    <script type="text/javascript" src="/js/jquery.form.js"></script>
    <script type="text/javascript" src="/js/base/date-util.js"></script>
    <script type="text/javascript" src="/js/base/string-util.js"></script>
    <script type="text/javascript" src="/js/base/popups-util.js"></script>

    <script type="text/javascript" src="/thirdpart/jquery-easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/thirdpart/jquery-easyui/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="/thirdpart/jquery-easyui/extension/datagrid-detailview.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>

</head>
<body>
    <div id="toolbar">
        <div id="query_div">
            <span>应用名:</span><input id="name" name="name" type="text"/> &nbsp;
            <span>中文名:</span><input id="nameCh" name="nameCh" type="text" />&nbsp;
            <input id="searchBtn" type="button" value="查询" onClick="search()" />&nbsp;&nbsp;
            <input id="addBtn" type="button" value="新增" onClick="openAppDlg()" />&nbsp;&nbsp;
            <input id="synAllBtn" type="button" value="全量同步" onClick="synAll()" />
        </div>
    </div>
    <table id="tbApp">
        <thead>
        <tr>
            <th data-options="field:'id',align:'left'" width="10%" >ID</th>
            <th data-options="field:'name',align:'left'" width="35%" >应用名</th>
            <th data-options="field:'nameCh',align:'left'" width="35%" >中文名</th>
            <th data-options="field:'button',align:'center',formatter:formatOpt" width="20%">操作</th>
        </tr>
        </thead>
    </table>

    <!--增改应用对话框-->
    <div id="app_add" class="add_dlg easyui-dialog" closed="true" buttons="#add_button">

        <form id="app_form" method="post">
            <input type="hidden" id="id" name="id" />
            <div class="fitem">
                <label>应用名:</label>
                <input name="name" class="easyui-textbox" required="true" />
            </div>
            <div class="fitem">
                <label>中文名:</label>
                <input name="nameCh" class="easyui-textbox" required="true" />
            </div>
            <div class="fitem">
                <label>备注:</label>
                <input name="note" class="mult_text easyui-textbox"  data-options="multiline:true" style="height: 60px;"/>
            </div>
        </form>
    </div>
    <div id="add_button">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" onclick="addOrUptApp()" >保存</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#app_add').dialog('close');">取消</a>
    </div>
</body>
</html>