<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manage.rbac.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.manage.rbac.entity.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="BIGINT" property="uid" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="passwd" jdbcType="VARCHAR" property="passwd" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="superior_id" jdbcType="INTEGER" property="superiorId" />
    <result column="superior_name" jdbcType="VARCHAR" property="superiorName" />
    <result column="superior_nickname" jdbcType="VARCHAR" property="superiorNickname" />
    <result column="org_id" jdbcType="INTEGER" property="orgId" />
    <result column="org_name" jdbcType="VARCHAR" property="orgName" />
    <result column="creater_id" jdbcType="INTEGER" property="createrId" />
    <result column="creater_nickname" jdbcType="VARCHAR" property="createrNickname" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="operator_id" jdbcType="INTEGER" property="operatorId" />
    <result column="operator_nickname" jdbcType="VARCHAR" property="operatorNickname" />
    <result column="disable" jdbcType="BIT" property="disable" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, `uid`, account, mobile, `name`, nickname, passwd, `state`, superior_id, superior_name, 
    superior_nickname, org_id, org_name, creater_id, creater_nickname, create_time, modify_time, 
    operator_id, operator_nickname, `disable`
  </sql>
  <select id="selectByExample" parameterType="com.manage.rbac.entity.UserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.manage.rbac.entity.UserExample">
    delete from t_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.manage.rbac.entity.User" useGeneratedKeys="true">
    insert into t_user (`uid`, account, mobile, 
      `name`, nickname, passwd, 
      `state`, superior_id, superior_name, 
      superior_nickname, org_id, org_name, 
      creater_id, creater_nickname, create_time, 
      modify_time, operator_id, operator_nickname, 
      `disable`)
    values (#{uid,jdbcType=BIGINT}, #{account,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, #{passwd,jdbcType=VARCHAR}, 
      #{state,jdbcType=INTEGER}, #{superiorId,jdbcType=INTEGER}, #{superiorName,jdbcType=VARCHAR}, 
      #{superiorNickname,jdbcType=VARCHAR}, #{orgId,jdbcType=INTEGER}, #{orgName,jdbcType=VARCHAR}, 
      #{createrId,jdbcType=INTEGER}, #{createrNickname,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifyTime,jdbcType=TIMESTAMP}, #{operatorId,jdbcType=INTEGER}, #{operatorNickname,jdbcType=VARCHAR}, 
      #{disable,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.manage.rbac.entity.User" useGeneratedKeys="true">
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        `uid`,
      </if>
      <if test="account != null">
        account,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="nickname != null">
        nickname,
      </if>
      <if test="passwd != null">
        passwd,
      </if>
      <if test="state != null">
        `state`,
      </if>
      <if test="superiorId != null">
        superior_id,
      </if>
      <if test="superiorName != null">
        superior_name,
      </if>
      <if test="superiorNickname != null">
        superior_nickname,
      </if>
      <if test="orgId != null">
        org_id,
      </if>
      <if test="orgName != null">
        org_name,
      </if>
      <if test="createrId != null">
        creater_id,
      </if>
      <if test="createrNickname != null">
        creater_nickname,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="operatorId != null">
        operator_id,
      </if>
      <if test="operatorNickname != null">
        operator_nickname,
      </if>
      <if test="disable != null">
        `disable`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        #{uid,jdbcType=BIGINT},
      </if>
      <if test="account != null">
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="passwd != null">
        #{passwd,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="superiorId != null">
        #{superiorId,jdbcType=INTEGER},
      </if>
      <if test="superiorName != null">
        #{superiorName,jdbcType=VARCHAR},
      </if>
      <if test="superiorNickname != null">
        #{superiorNickname,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null">
        #{orgId,jdbcType=INTEGER},
      </if>
      <if test="orgName != null">
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="createrId != null">
        #{createrId,jdbcType=INTEGER},
      </if>
      <if test="createrNickname != null">
        #{createrNickname,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operatorId != null">
        #{operatorId,jdbcType=INTEGER},
      </if>
      <if test="operatorNickname != null">
        #{operatorNickname,jdbcType=VARCHAR},
      </if>
      <if test="disable != null">
        #{disable,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.manage.rbac.entity.UserExample" resultType="java.lang.Long">
    select count(*) from t_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_user
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.uid != null">
        `uid` = #{record.uid,jdbcType=BIGINT},
      </if>
      <if test="record.account != null">
        account = #{record.account,jdbcType=VARCHAR},
      </if>
      <if test="record.mobile != null">
        mobile = #{record.mobile,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        `name` = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.nickname != null">
        nickname = #{record.nickname,jdbcType=VARCHAR},
      </if>
      <if test="record.passwd != null">
        passwd = #{record.passwd,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null">
        `state` = #{record.state,jdbcType=INTEGER},
      </if>
      <if test="record.superiorId != null">
        superior_id = #{record.superiorId,jdbcType=INTEGER},
      </if>
      <if test="record.superiorName != null">
        superior_name = #{record.superiorName,jdbcType=VARCHAR},
      </if>
      <if test="record.superiorNickname != null">
        superior_nickname = #{record.superiorNickname,jdbcType=VARCHAR},
      </if>
      <if test="record.orgId != null">
        org_id = #{record.orgId,jdbcType=INTEGER},
      </if>
      <if test="record.orgName != null">
        org_name = #{record.orgName,jdbcType=VARCHAR},
      </if>
      <if test="record.createrId != null">
        creater_id = #{record.createrId,jdbcType=INTEGER},
      </if>
      <if test="record.createrNickname != null">
        creater_nickname = #{record.createrNickname,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifyTime != null">
        modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.operatorId != null">
        operator_id = #{record.operatorId,jdbcType=INTEGER},
      </if>
      <if test="record.operatorNickname != null">
        operator_nickname = #{record.operatorNickname,jdbcType=VARCHAR},
      </if>
      <if test="record.disable != null">
        `disable` = #{record.disable,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_user
    set id = #{record.id,jdbcType=INTEGER},
      `uid` = #{record.uid,jdbcType=BIGINT},
      account = #{record.account,jdbcType=VARCHAR},
      mobile = #{record.mobile,jdbcType=VARCHAR},
      `name` = #{record.name,jdbcType=VARCHAR},
      nickname = #{record.nickname,jdbcType=VARCHAR},
      passwd = #{record.passwd,jdbcType=VARCHAR},
      `state` = #{record.state,jdbcType=INTEGER},
      superior_id = #{record.superiorId,jdbcType=INTEGER},
      superior_name = #{record.superiorName,jdbcType=VARCHAR},
      superior_nickname = #{record.superiorNickname,jdbcType=VARCHAR},
      org_id = #{record.orgId,jdbcType=INTEGER},
      org_name = #{record.orgName,jdbcType=VARCHAR},
      creater_id = #{record.createrId,jdbcType=INTEGER},
      creater_nickname = #{record.createrNickname,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      operator_id = #{record.operatorId,jdbcType=INTEGER},
      operator_nickname = #{record.operatorNickname,jdbcType=VARCHAR},
      `disable` = #{record.disable,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.manage.rbac.entity.User">
    update t_user
    <set>
      <if test="uid != null">
        `uid` = #{uid,jdbcType=BIGINT},
      </if>
      <if test="account != null">
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="passwd != null">
        passwd = #{passwd,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        `state` = #{state,jdbcType=INTEGER},
      </if>
      <if test="superiorId != null">
        superior_id = #{superiorId,jdbcType=INTEGER},
      </if>
      <if test="superiorName != null">
        superior_name = #{superiorName,jdbcType=VARCHAR},
      </if>
      <if test="superiorNickname != null">
        superior_nickname = #{superiorNickname,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null">
        org_id = #{orgId,jdbcType=INTEGER},
      </if>
      <if test="orgName != null">
        org_name = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="createrId != null">
        creater_id = #{createrId,jdbcType=INTEGER},
      </if>
      <if test="createrNickname != null">
        creater_nickname = #{createrNickname,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operatorId != null">
        operator_id = #{operatorId,jdbcType=INTEGER},
      </if>
      <if test="operatorNickname != null">
        operator_nickname = #{operatorNickname,jdbcType=VARCHAR},
      </if>
      <if test="disable != null">
        `disable` = #{disable,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.manage.rbac.entity.User">
    update t_user
    set `uid` = #{uid,jdbcType=BIGINT},
      account = #{account,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      `name` = #{name,jdbcType=VARCHAR},
      nickname = #{nickname,jdbcType=VARCHAR},
      passwd = #{passwd,jdbcType=VARCHAR},
      `state` = #{state,jdbcType=INTEGER},
      superior_id = #{superiorId,jdbcType=INTEGER},
      superior_name = #{superiorName,jdbcType=VARCHAR},
      superior_nickname = #{superiorNickname,jdbcType=VARCHAR},
      org_id = #{orgId,jdbcType=INTEGER},
      org_name = #{orgName,jdbcType=VARCHAR},
      creater_id = #{createrId,jdbcType=INTEGER},
      creater_nickname = #{createrNickname,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      operator_id = #{operatorId,jdbcType=INTEGER},
      operator_nickname = #{operatorNickname,jdbcType=VARCHAR},
      `disable` = #{disable,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>