<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <listener>
        <listener-class>com.solr.web.listener.ServletListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>dispatchServlet</servlet-name>
        <servlet-class>com.solr.web.servlet.dispatch.DispatchServlet</servlet-class>
    </servlet>

    <context-param>
        <param-name>quartz:shutdown-on-unload</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>quartz:wait-on-shutdown</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>quartz:start-on-load</param-name>
        <param-value>true</param-value>
    </context-param>

    <listener>
        <listener-class>
            org.quartz.ee.servlet.QuartzInitializerListener
        </listener-class>
    </listener>

    <servlet-mapping>
        <servlet-name>dispatchServlet</servlet-name>
        <url-pattern>/main/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dispatchServlet</servlet-name>
        <url-pattern>/qwg/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dispatchServlet</servlet-name>
        <url-pattern>/ru/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>adminServlet</servlet-name>
        <servlet-class>com.solr.web.servlet.AdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminServlet</servlet-name>
        <url-pattern>/admin/*</url-pattern>
    </servlet-mapping>
</web-app>